.Footer {
  background-color: #000;
  color: #fff;
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  @media (max-width: 700px) {
    padding: 10%;
    flex-direction: column-reverse;
    gap: 40px;
  }
  span {
    background-color: white;
    width: 2px;
    display: block;
    @media (max-width: 700px) {
      display: none;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h1 {
      margin-block-end: 10px;
      @media (max-width: 900px) {
        font-size: 24px;
      }
    }
    h4 {
      @media (max-width: 900px) {
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
}
.center {
  background-color: #000;
  color: #fff;
  font-weight: 200;
  font-size: 13px;
  padding-bottom: 15px;
}
.Socials {
  margin-top: 5px;
  align-items: center;
  display: flex;
  gap: 20px;
  svg {
    height: 30px;
    @media (max-width: 1150px) {
      height: 20px;
    }
    width: auto;
    color: white;
    transition: color 0.1s linear;
    &:hover {
      color: #f37c02;
    }
  }
}
