@import "../typography.scss";
.Container {
  padding-inline: 10%;
  h1{
    margin-block: 20px;
    text-align: center;
   }
}
.Page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .FormWrapper {
    width: 45vw;
  }
  gap: 20px;
  p {
    display: flex;
    justify-content: space-between;
    a {
      color: #592f05;
      font-size: 14px;
      &:hover{
        color: #f37c02;
      }
    }
  }
  img {
    width: 45vw;
    height: auto;
  }
}
